/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= jquery-ui-timepicker-addon
 *= require_tree .
 */
html{
	min-height:100%;
}
body{
  background-image: linear-gradient(bottom, rgb(255,119,0) 11%, rgb(179,179,179) 61%);
  background-image: -o-linear-gradient(bottom, rgb(255,119,0) 11%, rgb(179,179,179) 61%);
  background-image: -moz-linear-gradient(bottom, rgb(255,119,0) 11%, rgb(179,179,179) 61%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,119,0) 11%, rgb(179,179,179) 61%);
  background-image: -ms-linear-gradient(bottom, rgb(255,119,0) 11%, rgb(179,179,179) 61%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.11, rgb(255,119,0)),
  	color-stop(0.61, rgb(179,179,179))
  );
  background-repeat:no-repeat;
}

h2 a{
  text-decoration: none;
  color:#000;
}
